* {
    padding: 0;
    margin: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.container {
    background: #C0DBD9;
}

.header {
    height: 100px;
    background: #7FAFF7;
}

#popup:checked~.popup {
    display: block;

}

.close-svg {
    width: 13px;
    height: 23px;
}

.popup {
    display: none;
    height: 375px;
    padding-top: 15px;
    width: 400px;
    background: white;
    position: absolute;
    top: 50px;
    left: 465px;

    &__close {
        margin-left: 342px;
        width: 39px;
        height: 43px;
        display: block;
        cursor: pointer;
        background: #7FAFF6;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-item {
            transform: rotate(45deg);
        }
    }
}

.wrap-button {
    padding-top: 30px;
    padding-left: 30px;
}

.button {
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    width: 206px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    // line-height: 23px;
    color: #FFFFFF;
    border: none;
    outline: none;
    background: #A5C7F9;
    cursor: pointer;

    &-checkbox {

        display: none;
    }

    &:hover {
        background: #748caf;
        transition: 0.3s;
    }
}



.main {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    background: #B3F95A;
    margin-top: 15px;

    &__block {
        background: #8AD191;
        height: 198px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-content {
            font-weight: 400;
            font-size: 53px;
            line-height: 62px;
            color: #FFFFFF;
        }

        &_width-4 {
            grid-column: 1/3;
        }
    }
}

.main-2 {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    background: #88B5BF;
    padding: 30px;

    &__block {
        background: #0D89B0;
        width: 100%;
        aspect-ratio: 1/1;
    }
}

.footer {
    height: 100px;
    background: #7FAFF7;
    margin-top: 100px;
}